append variables
  -
    const footerIcon = [ 
      //- {
      //-   img: `${CWD}assets/img/gallery/linkedin-line1.svg`,
      //-   link:'#!',
      //-   alt:'in'
      //- },
      //- {
      //-   img: `${CWD}assets/img/gallery/facebook-line1.svg`,
      //-   link:'#!',
      //-   alt:'fb'
      //- },
      //- {
      //-   img: `${CWD}assets/img/gallery/twitter-line1.svg`,
      //-   link:'#!',
      //-   alt:'twitter'
      //- },
      {
        img: `${CWD}assets/img/gallery/instagram-line1.svg`,
        link:'https://www.instagram.com/triplycabs?utm_source=qr&igsh=MTRqbW1vcnZ0YjB6cA==',
        alt:'instragram'
      }
    ]

mixin FooterList(...items)
  each item in items
    li.lh-lg
      a.text-500.footer-link(href='#!').text-light=item

mixin Footer 
  +Section.py-0.bg-1000
    .row.justify-content-md-between.justify-content-evenly.py-3
      .col-12.col-sm-8.col-md-6.col-lg-auto.text-center.text-md-start 
        p.fs--1.my-2.fw-bold.text-200 &copy; 2024 Triply
      .col-12.col-sm-8.col-md-6

mixin PreFooter 
  section.py-0.bg-1000
    .container
      .row.py-7
        .col-12.col-sm-12.col-lg-6.mb-4.order-0.order-sm-0
          a(href='#').text-decoration-none
            img(src=`${CWD}assets/img/icons/Triply2.png` height="51" alt='' ) 

          p.text-light.mt-4.mb-0 assets/img/icons/Triply2.png
          p.text-light.mt-5 sumit.k@flixlogix.in
          .d-flex
            each item in footerIcon
              a(href=`${item.link}`)
                img(src=`${item.img}` alt=`${item.alt}` class='me-xl-3 me-1' width:'20px' height:'20px')
        .col-3.col-sm-4.col-lg-2.mb-3.order-2.order-sm-1
          h5.lh-lg.fw-bold.text-light.font-sans-serif About Us
          ul.list-unstyled.text-light.mb-md-4
            +FooterList('Blog', 'Career')
    +Footer