append variables
  -
    var features= [
      {
        icon:`1.png`,
        title:'Safe and Reliable',
        alt: 'Dashboard',
        details: 'Your safety is our priority. Triply ensures a secure and dependable ride-sharing experience with vetted drivers and quality vehicles.'
      },
      {
        icon:`2.png`,
        title:'Real-time Scheduling',
        alt: 'Comment',
        details: 'Book and manage your rides effortlessly with Triply’s intuitive platform. Stay updated with real-time tracking and scheduling.'
      },
      {
        icon:`3.png`,
        title:'Affordable and Eco-friendly',
        alt: 'Tailored',
        details: 'Save money and reduce your carbon footprint by pooling rides. Triply offers an economical and sustainable way to travel to work.'
      }
    ];
    var texting= [
      {
        title: 'Convenient Cab Pooling',
        alt: 'text',
        details: 'Easily share rides with colleagues heading in the same direction. Triply makes your daily office commute more efficient'
      }
    ]
mixin FeatureItem(item) 
  .col-md-6
    .w-100.h-100.p-5.services-card-shadow.rounded-4
      img(src=`${CWD}assets/img/icons/${item.icon}` alt=`${item.alt}` style={width:'95px'})
      h3.mt-3.lh-base #{item.title}
      p.mb-0 #{item.details}
mixin Card(text)
  .col-md-6.h-100.text-center.text-md-start.p-0.p-md-5.pb-3
    h2.mt-3 #{text.title}
    p.mb-0 #{text.details}
        
mixin Services
  +Section#product
    .row.mb-4
      +Card(texting[0]) 
      +FeatureItem(features[0]) 
    .row.mb-4
      +FeatureItem(features[1]) 
      +FeatureItem(features[2])


